.container-fluid {
  margin: 0 auto;
  width: 100%;
  padding: 0 0.9375rem;
  padding-bottom: 3.125rem;
}
@media (min-width: 992px) {
  .container-fluid {
    max-width: 80%;
  }
}
.col-12 {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.card {
  flex: 0 0 100%;
  max-width: 100%;
  background-color: #ffffff;
  box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
}
.card .card-header {
  padding: 0.75rem 1.5rem;
  border-bottom: 1px solid #e3eaef;
}
.card .card-body {
  padding: 1.5rem;
}
.card .card-body .mb-1 {
  margin-bottom: 0.375rem;
}
.row-etrieval > [class*="col-4"] {
  position: relative;
}
.row-etrieval > [class*="col-4"] a {
  width: 100%;
  position: relative;
  color: #ffffff;
  font-size: 2px;
}
.row-etrieval > [class*="col-4"] a img {
  width: 100%;
  height: 120px;
  background-size: 10% 10%;
  object-fit: cover;
  border-radius: 0%;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7);
}
.row-etrieval > [class*="col-4"] a p {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  bottom: 0;
  padding: 0.3125rem;
}
.row-etrieval > [class*="col-4"] a .zhuangtai {
  position: absolute;
  top: 0;
  right: 0.3125rem;
  padding: 0 0.3125rem 0.3125rem;
  background-color: #ff8100;
  border-bottom-left-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
}
@media screen and (min-width: 600px) {
  .row-etrieval .col-m-2 {
    flex: 0 0 16.6667% !important;
    max-width: 16.6667% !important;
  }
  .rorow-etrievalw > [class*="col-4"] a img {
    height: 150px;
  }
}
@media screen and (min-width: 900px) {
  .row-etrieval .col-1 {
    flex: 0 0 12.5% !important;
    max-width: 12.5% !important;
  }
  .row-etrieval > [class*="col-4"] a img {
    height: 190px;
  }
}
@media screen and (min-width: 1920px) {
  .row-etrieval > [class*="col-"] {
    padding: 0 1.25rem;
  }
  .row-etrieval > [class*="col-4"] a img {
    height: 500px;
  }
}
.row:last-of-type {
  margin-top: 40px;
}
.row:last-of-type .col-12 {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.row:last-of-type .col-12 .btn {
  background-color: #232a33;
  color: #ffffff;
}
