.container-fluid {
  margin: 0 auto;
  width: 100%;
  padding: 0 0.9375rem;
}
@media (min-width: 992px) {
  .container-fluid {
    max-width: 80%;
  }
}
.col-12 {
  display: flex;
  flex-direction: column;
}
.card {
  flex: 0 0 100%;
  max-width: 100%;
  background-color: #ffffff;
  box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
}
.card .card-header {
  padding: 0.75rem 1.5rem;
  border-bottom: 1px solid #e3eaef;
}
.card .card-body {
  padding: 1.5rem;
}
.card .card-body .mb-1 {
  margin-bottom: 0.375rem;
}
.row > [class*="col-4"] {
  position: relative;
}
.row > [class*="col-4"] a img {
  width: 100%;
  background-size: 10% 10%;
  object-fit: fill;
  border-radius: 0%;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}
.row > [class*="col-4"] .over {
  position: absolute;
  width: 80%;
  height: 20px;
  background-color: red;
  bottom: 40px;
}
.row > [class*="col-4"] .over a {
  color: white;
  font-size: 16px;
  text-align: center;
}
.row > [class*="col-4"] .zhuangtai {
  position: absolute;
  top: 0;
  right: 0;
}
@media screen and (min-width: 900px) {
  .row .col-1 {
    flex: 0 0 8.333% !important;
    max-width: 8.333% !important;
  }
}
