* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* cursor: url("../imgs/cur/Cursor_Normal_64.png"), pointer; */
}
html {
  font-size: 16px;
}
html,
body {
  height: 100%;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 1920px) {
  html {
    font-size: 16px;
  }
}
@media screen and (min-width: 1920px) {
  html {
    font-size: 18px;
  }
}
img {
  vertical-align: middle;
}
button {
  border: none;
  color: #fff;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #a97f70;
}
.a-active {
  color: #fff;
}
i,
p {
  float: left;
}
.toggle-li {
  margin: 1.25rem 0.625rem;
  border-bottom: 1px solid blueviolet;
}
.clear {
  *zoom: 1;
}
.clear::after,
.clear::before {
  content: "";
  display: table;
  clear: both;
}
.font {
  font-family: FontAwesome;
}
input {
  outline: none;
}
